name: Ghost Reflection CI

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:

  build:

    runs-on: ubuntu-latest

    env:
      coq_version: '8.18'
      fail-fast: true

    steps:

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Docker-Coq-Action
        uses: coq-community/docker-coq-action@v1
        with:
          coq_version: ${{ env.coq_version }}
          before_install: |
            startGroup "Print opam config"
              sudo chown -R coq:coq .
              opam config list; opam repo list; opam list
            endGroup
          before_script: |
            startGroup "Workaround permission issue"
              sudo chown -R coq:coq .  # <--
              opam exec -- ocamlfind list
            endGroup
          script: |
            startGroup "Build project"
              opam exec -- make -j 2
              opam exec -- make coqdoc
            endGroup
          uninstall: |
            startGroup "Clean project"
            endGroup

      - name: Revert permissions
        # to avoid a warning at cleanup time
        if: ${{ always() }}
        run: sudo chown -R 1001:116 .  # <--

      - name: Build doc overview
        uses: docker://pandoc/core:2.9
        with:
          args: >-  # allows you to break string into multiple lines
            --standalone
            --output=doc/index.html
            --css=coqdoc/resources/github-pandoc.css
            --metadata title="Ghost Reflection Overview"
            doc/index.md
      - name: Setup Pages
        if: github.ref_name == github.event.repository.default_branch
        uses: actions/configure-pages@v3
      - name: Upload artifact
        if: github.ref_name == github.event.repository.default_branch
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'doc'
      - name: Deploy to GitHub Pages
        if: github.ref_name == github.event.repository.default_branch
        id: deployment
        uses: actions/deploy-pages@v1
